@import "assets/css/vars.css";
@import "assets/css/navbar.css";
@import "assets/css/posts.css";
@import "assets/css/forms.css";
@import "assets/css/about.css";
@import "assets/css/reactionicon.css";

.btn-dark {
    background-color: black;
}

.check {
    margin: 0.5rem 0rem;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
}
.check input {
    margin-right: 0.25rem;
}

@media only screen and (max-width: 1000px) {
    .nav-logo {
        width: 40%;
    }
}
