/* Create Post */
.cp-link:hover {
    text-decoration: none;
}

.cp-input {
    border: 2px solid var(--clr-primary-2);
    padding-top: 3vh;
}

.cp-input:hover {
    border-color: #116c82;
}

/*--Post Card--*/
.card {
    background-color: var(--clr-primary-2);
}

.card-header {
    background-color: var(--clr-primary-2);
    color: var(--clr-white);
}

.card-body {
    padding-bottom: 0px;
    color: var(--card-body);
    background-color: var(--clr-white);
}

.c-body-dim {
    max-height: 10vh;
    min-height: 10vh;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-footer {
    padding-top: 0px;
    background-color: var(--clr-white);
    border: 0px;
}

.footer-link {
    text-align: center;
    display: block;
}

.footer-date {
    font-size: 90%;
}