option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-east-1:010087513592:certificate/e9df605f-03b2-4bb8-87a1-02166c4fb268
    Rules: ApiPathMatchingRule
  aws:elasticbeanstalk:environment:process:api:
    HealthCheckPath: /health
    Port: 8080
  aws:elbv2:listenerrule:ApiPathMatchingRule:
    PathPatterns: /api/*
    Process: api
  aws:ec2:instances:
    InstanceTypes: t2.micro,t3.micro,t3.small