/* About Page CSS */
.about-link h4,
.about-link span {
    color: var(--clr-black);
}

.about-link h4:hover,
.about-link span:hover {
    color: var(--clr-primary-1);
}

/* 404 Page CSS */
.fof-img img {
    max-width: 10px;
}

.about-cover {
    background-color: var(--clr-white);
    padding: 1vw;
    padding-bottom: 0;
    border-radius: 3px;
}

.about-lead {
    font-style: italic;
    font-size: x-large;
}

.about-p {
    font-size: larger;
}