/* Forms */
.custom-form {
    background: var(--clr-white);
    max-width: var(--fixed-width);
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 1rem 2rem;
    border-radius: var(--radius);
}

/* NOTE: This is overriding Bootstrap, which
    can have unexpected effects !!  */
.form input {
    border-radius: var(--radius);
    padding: 0.25rem 0.5rem;
    border-color: var(--clr-grey-3);
}
.form textarea {
    border-color: var(--clr-primary-2);
}

.form input:hover {
    box-shadow: 2px 2px 3px var(--clr-grey-3);
}

.cf-control {
    margin: 0.5rem 0rem;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding-bottom: 3rem;
}

.form button {
    display: inline-block;
    background: var(--clr-primary-2);
    color: var(--clr-white);

    border-color: transparent;
    margin-top: 1rem;
    padding: 0.15rem 0.25rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    cursor: pointer;
    transition: box-shadow 0.1s;
}

.form button:hover {
    background: var(--clr-primary-2);
    border-color: transparent;
    color: var(--clr-white);

    box-shadow: 2px 2px 3px var(--clr-primary-1);
}

.form-floating > .form-control {
    padding: 1rem 0.75rem;
}
