/* Create Post */
.cp-link:hover {
    text-decoration: none;
}

.cp-input {
    border: 1px solid var(--clr-grey-3);
    padding-top: 3vh;
}

.cp-input:hover {
    box-shadow: 5px 5px var(--clr-black);
}

/*--Post Card--*/
.card {
    border: 1px solid var(--clr-grey-3);
    box-shadow: 0px 0px var(--clr-white);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 5px 5px var(--clr-black);
}

.card-header {
    background-color: var(--clr-white);
    color: var(--clr-black-1);
    border: 0;
    border-radius: 0;
    
}

.card-body {
    color: var(--card-body);
    background-color: var(--clr-white);
    width: 100%
}

.c-body-dim {
    max-height: 10vh;
    min-height: 10vh;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-footer {
    padding-top: 0px;
    background-color: var(--clr-white);
    border: 0;
    border-radius: 0;
}

.footer-link {
    text-align: center;
    display: block;
    color: var(--clr-primary-2);
}

.footer-date {
    font-size: 90%;
}

.lg-p-header {
    font-weight: bold;
}

.lg-p-content {
    font-size: large;
}